html{
    scroll-behavior: smooth;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-right: 15px;
    padding-left: 15px;
    background-color: black;
}
#footer{
    padding-left: 40px;
}

@media screen and (min-width: 320px) {
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    #video{
        width: 100px;
    }
    .person1 image {
        float: top;
    }
}

/*MIDDLE >>>>>>>>*/

.container-wrap{
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: lightgrey;
}
.row{
    background-color: lightgrey;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/background2.jpg");
    min-height: 100%;
}
.w3-container3{
    background-image: url("/images/background2.jpg");

}
.w3-bar .w3-button {
    padding: 16px;

}
.w3-bar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.person1{
    padding-top: 90px;


}
.person2{
    padding-top: 35px;

}.person3{
     padding-top: 35px;
     padding-bottom: 35px;
 }
hr{
    color: black;
}
.person1 p{
    padding-right: 45px;
}
.person2 p{
    padding-right: 45px;
}
.person3 p{
    padding-right: 45px;
}
.About {
    padding-top: 80px;
}

.newDiv {
    padding-top: 90px;
}
#about{
    background: linear-gradient(to left, gray , white);

}
@media screen and (max-width: 1040px) {
    #pic2{
        display: none;
    }
}