html{
    scroll-behavior: smooth;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-right: 15px;
    padding-left: 15px;
    background-color: black;
}
#footer{
    padding-left: 40px;
}

@media screen and (min-width: 320px) {
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    #video{
        width: 100px;
    }
    .person1 image {
        float: top;
    }
}

/*MIDDLE >>>>>>>>*/

.container-wrap{
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: lightgrey;
}
.row{
    /*background-color: lightgrey;*/
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/images/background2.jpg");
    min-height: 100%;
}
.w3-container3{
    /*background-image: url("/images/background2.jpg");*/
    background: linear-gradient(to left, gray , white);
}
.w3-bar .w3-button {
    padding: 16px;

}
.w3-bar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.person1{
    padding-top: 90px;


}
.person2{
    padding-top: 35px;

}.person3{
     padding-top: 35px;
     padding-bottom: 35px;
 }
hr{
    color: black;
}
.person1 p{
    padding-right: 45px;
}
.person2 p{
    padding-right: 45px;
}
.person3 p{
    padding-right: 45px;
}
.About {
    padding-top: 80px;
    float: left;
    padding-left: 20px;
    padding-right: 800px;
    background-image: url("/images/backdrop.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.firstRow {
    padding-top: 50px;
}
#about{
    background: linear-gradient(to left, gray , white);

}
@media screen and (max-width: 1265px) {
    .About {
        padding-right: 500px;
    }
}
@media screen and (max-width: 1040px) {
    #pic2{
        /*display: none;*/
    }
    .About {
        padding-right: 300px;
    }
    /*.Awards {*/
        /*padding-right: 50px;*/
    /*}*/
}

.person11 {
    float: left;
    padding-left: 20px;
}
.person21 {
    float: left;
    padding-left: 20px;
}
.person31 {
    float: left;
    padding-left: 20px;
}

@media screen and (max-width: 850px){
    .person11 {
        float: left;
        padding-left: 120px;
    }
    .person21 {
        float: left;
        padding-left: 120px;
    }
    .person31 {
        float: left;
        padding-left: 120px;
    }
    .About {
        padding-right: 20px;
    }
    .Awards {
        display: none;
    }
    .building {
        display: none;
    }
}









/*Timeline*/
.backdrop {
    background-image: url("/images/backdrop.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    padding-left: 200px;
   /*padding-right: 200px;*/
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}