<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>


    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Raleway}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{//jsfiddle.net/bootswatch/3he50zsf/embed/}"></script>

    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<!--This is the NavBar-->

<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar" >
        <a href="/" class="w3-bar-item w3-button w3-wide" style="text-decoration: none">SuturEase</a>
        <!-- Right-sided navbar links -->
        <div class="w3-left w3-hide-small">
            <!--<a href="#about" class="w3-bar-item w3-button" style="text-decoration: none">ABOUT</a>-->
            <a href="/#review" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> </a>
            <!--<a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> </a>-->
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <div class="w3-right w3-hide-small">
            <a class="w3-bar-item w3-button" href="/company" style="text-decoration: none">Company</a>
            <a class="w3-bar-item w3-button" href="/news" style="text-decoration: none">News</a>
            <a class="w3-bar-item w3-button" href="/team" style="text-decoration: none">Our Team</a>
        </div>

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <!--<a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>-->
    <a href="/#review" onclick="w3_close()" class="w3-bar-item w3-button">REVIEWS</a>
    <a href="/company" onclick="w3_close()" class="w3-bar-item w3-button">COMPANY</a>
    <a href="/news" onclick="w3_close()" class="w3-bar-item w3-button">NEWS</a>
    <a href="/team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
</nav>
<div class="About w3-light-grey">
    <div>
        <!--Project info-->
        <h1>About Suture Ease</h1>
        <p>Suture Ease, Inc., is a San Jose, CA-based medical device company focused on the innovative development and commercialization of devices for laparoscopic surgery. Driven by a passionate group of surgical innovators, the company develops proprietary technologies that combine efficacy and ease of use for enhancing  laparoscopic procedures.  Our flagship device, the CrossBow Fascial Closure System, enables reproduceable trocar site closure by utilizing a unique “snare guide” technology in combination with a unique suture passer.</p>
        <h1>Quality Policy</h1>
        <p>Suture Ease is dedicated to the design, manufacture, and distribution of medical devices that enhance the efficacy, ease of use, and safety of laparoscopic procedures. Our quality system, quality processes, and quality objectives are designed and maintained to meet customer and regulatory requirements through the focus on continuous improvement.</p>

    </div>
    <div class="Awards">
        <img class="award1" style="margin: auto ;padding-bottom: 450px" width="200px" src="/images/zechy.png"/>
        <b class="award2" style="padding-bottom: 300px">Innovation of the Year Award</b>
        <img class="award3" style="margin: auto ;padding-bottom: 200px" width="200px" src="/images/crossBow.png"/>
    </div>
</div>




<footer class="footer">
    <p id="footer">&copy; 2018 SuturEase. All rights reserved.</p>
</footer>
<script>
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>
</body>
</html>