<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Raleway}"/>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{///cdn.jsdelivr.net/afterglow/latest/afterglow.min.js/}"></script>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{//jsfiddle.net/bootswatch/3he50zsf/embed/}"></script>

    <script type="text/javascript" th:src="@{/client.js}"></script>

</head>

<body>
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar" >
        <input href="#home" type="image" src="/images/logg.png" class="w3-bar-item w3-button w3-wide" style="width: 130px"/>
        <!--<a href="#home" class="w3-bar-item w3-button w3-wide" style="text-decoration: none">SuturEase</a>-->
        <!-- Right-sided navbar links -->
        <div class="w3-left w3-hide-small">
            <!--<a href="#about" class="w3-bar-item w3-button" style="text-decoration: none">ABOUT</a>-->
            <!--<a href="#review" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> </a>-->
            <!--<a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> </a>-->
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <div class="w3-right w3-hide-small">
            <a class="w3-bar-item w3-button" href="/company" style="text-decoration: none">Company</a>
            <a class="w3-bar-item w3-button" href="/news" style="text-decoration: none">News</a>
            <a class="w3-bar-item w3-button" href="/team" style="text-decoration: none">Our Team</a>
        </div>

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <!--<a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>-->
    <a href="/#review" onclick="w3_close()" class="w3-bar-item w3-button">REVIEWS</a>
    <a href="/company" onclick="w3_close()" class="w3-bar-item w3-button">COMPANY</a>
    <a href="/news" onclick="w3_close()" class="w3-bar-item w3-button">NEWS</a>
    <a href="/team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
</nav>


<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="pic">
        <img id="pic2" class="w3-display-right" style="margin: auto" width="100%" src="/images/Picture1.png"/>
    </div>
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Solving challenges</span><br/>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Solving challenges</span><br/>
        <span class="w3-large">for laparoscopic surgeons.</span>
        <!--<p><a href="#review" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more</a></p>-->
    </div>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>

</header>
<!-- About Section -->
<!--<div th:id="about" class="w3-container" style="padding:128px 16px" id="about">-->
    <!--<h3 class="w3-center">ABOUT SuturEase</h3>-->
    <!--<p class="w3-center w3-large">Key features of SuturEase</p>-->
    <!--<div class="w3-row-padding w3-center" style="margin-top:64px">-->
        <!--<div class="w3-half">-->
            <!--<i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>-->
            <!--<p class="w3-large">Task</p>-->
            <!--<p>Suture Ease develops and markets innovative technologies that combine efficacy and ease of use for enhancing  laparoscopic procedures.</p>-->
        <!--</div>-->
        <!--<div class="w3-half">-->
            <!--<i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>-->
            <!--<p class="w3-large">Design</p>-->
            <!--<p>Our flagship device, the CrossBow Fascial Closure System, enables reproduceable trocar site closure by utilizing a unique “snare guide” technology in combination with a proprietary suture passer.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Promo Section - "We know design" -->
<div class="w3-container3 w3-light-grey" style="padding:60px 16px" th:id="review">
    <div class="crossBow">
        <img id="crossBow" style="margin: auto" width="50%" src="/images/crossBow2.png"/>
    </div>
    <div class="w3-row-padding">

        <h1>Why the CrossBow?</h1>
        <div class="w3-col m6" style="padding-top: 90px">

            <p>Dr. Mirhashemi reviews a distinct advantage of
                <br/>the CrossBow  technology</p>
            <!--<p><a href="/securusEP" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Projects</a></p>-->
        </div>
        <div class="w3-hide-small">
            <div class="w3-col m6">
                <!--<video width="500" controls="controls" loop="loop">-->
                <!--<source src="/videos/CrossBow.mp4" type="video/mp4"/>-->
                <!--</video>-->
                <video class="afterglow" loop="loop" id="myvideo" width="500">
                    <source type="video/mp4" src="/videos/Review2.mp4" />
                </video>
            </div>
        </div>
        <div class="w3-small w3-hide-large w3-hide-medium">
            <div class="w3-col m6">
                <video class="afterglow" width="320" loop="loop">
                    <source type="video/mp4" src="/videos/Review2.mp4"/>
                </video>
            </div>
        </div>
    </div>
    <br></br>
    <div class="w3-row-padding">
        <div class="w3-col m6" style="padding-top: 90px">
            <p>Dr. Coates demonstrates the simplicity of using
                <br/>the CrossBow Fasciial Closure System</p>
            <!--<p><a href="/securusEP" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Projects</a></p>-->
        </div>
        <div class="w3-hide-small">
            <div class="w3-col m6">
                <!--<video width="500" controls="controls" loop="loop">-->
                <!--<source src="/videos/CrossBow.mp4" type="video/mp4"/>-->
                <!--</video>-->
                <video class="afterglow" loop="loop" id="myvideo1" width="500">
                    <source type="video/mp4" src="/videos/Review2.mp4" />
                </video>
            </div>
        </div>
        <div class="w3-small w3-hide-large w3-hide-medium">
            <div class="w3-col m6">
                <video class="afterglow" width="320" loop="loop">
                    <source type="video/mp4" src="/videos/Review2.mp4"/>
                </video>
            </div>
        </div>

    </div>
</div>


<!--&lt;!&ndash; Work Section &ndash;&gt;-->
<!--<div class="w3-container w3-light-grey" style="padding:128px 16px" id="work">-->
    <!--<h3 class="w3-center">OUR WORK</h3>-->
    <!--<p class="w3-center w3-large">What we've done for people</p>-->

    <!--<div class="w3-row-padding" style="margin-top:64px">-->
        <!--<div class="w3-hide-small">-->
            <!--<div class="w3-col m6">-->
                <!--<video width="500" class="afterglow">-->
                    <!--<source src="/videos/Review2.mp4" type="video/mp4"/>-->
                <!--</video>-->
            <!--</div>-->
            <!--<p>This video has a lot of information on how the project works and how much people are enjoying it</p>-->
        <!--</div>-->
        <!--<div class="w3-small w3-hide-large w3-hide-medium">-->
            <!--<div class="w3-col m6">-->
                <!--<video width="320" class="afterglow">-->
                    <!--<source src="/videos/Review2.mp4" type="video/mp4"/>-->
                <!--</video>-->
            <!--</div>-->
            <!--<p>This video has a lot of information on how the project works and how much people are enjoying it</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="w3-row-padding" style="margin-top:64px">-->
        <!--<div class="w3-hide-small">-->
            <!--<div class="w3-col m6">-->
                <!--<video width="500" class="afterglow">-->
                    <!--<source src="/videos/Review2.mp4" type="video/mp4"/>-->
                <!--</video>-->
            <!--</div>-->
            <!--<p>This video has a lot of information on how the project works and how much people are enjoying it</p>-->
        <!--</div>-->
        <!--<div class="w3-small w3-hide-large w3-hide-medium">-->
            <!--<div class="w3-col m6">-->
                <!--<video width="320" class="afterglow">-->
                    <!--<source src="/videos/Review2.mp4" type="video/mp4"/>-->
                <!--</video>-->
            <!--</div>-->
            <!--<p>This video has a lot of information on how the project works and how much people are enjoying it</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<footer class="footer">
    <p id="footer">&copy; 2018 SuturEase. All rights reserved.</p>
</footer>

<script>
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>
</body>
</html>
