<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}"/>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Raleway}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{//jsfiddle.net/bootswatch/3he50zsf/embed/}"></script>

    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>

<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar" >
        <a href="/" class="w3-bar-item w3-button w3-wide" style="text-decoration: none">SuturEase</a>
        <!-- Right-sided navbar links -->
        <div class="w3-left w3-hide-small">
            <a href="/#about" class="w3-bar-item w3-button" style="text-decoration: none">ABOUT</a>
            <a href="/#team" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> </a>
            <a href="/#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> </a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <div class="w3-right w3-hide-small">
            <a class="w3-bar-item w3-button" href="/company" style="text-decoration: none">Company</a>
            <a class="w3-bar-item w3-button" href="/news" style="text-decoration: none">News</a>
            <a class="w3-bar-item w3-button" href="/team" style="text-decoration: none">Our Team</a>
        </div>

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<footer class="footer">
    <p id="footer">&copy; 2018 SuturEase. All rights reserved.</p>
</footer>

</body>
</html>